@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens {
  'sm':640px ;
  'md':768px ;
  'lg':1024px ;
  'xl':1280px ;
}

@font-face {
  font-family: "Ownglyph_meetme-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2")
    format("woff2");
}

* {
  font-family: "Ownglyph_meetme-Rg";
  font-weight: normal;
  font-style: normal;
  font-size: 1.3rem;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  /* mobile 이상 디바이스 */

  .h-screen {
    max-width: 30%;
    margin: 0 auto;
    background-color: #f3c038;
  }
}

@media (max-width: 1155px) {
  /*  mobile+pad 버전 */

  .h-screen {
    max-width: 100%;
    margin: 0 auto;
    background-color: #f3c038;
  }
}
